
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', 'sans-serif';
	font-size: 13px;
	font-weight: 300;
	background-color: #E5E5E5;
}

/* GALLERY */

.gallery {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
}
.gallery li{
	position: relative;
	width: 25%;/*33.333%;*/
	float: left;
	padding: 0.625rem;

	display: -webkit-flex;
	display: flex;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
.gallery li .box {
	position:relative;
	padding: 6px 6px 30px 6px;
	background-color: #fff;
	overflow: hidden;
}
.gallery li figure{
	display: block;
	width: 100%;
	margin-bottom: 6px;
}
.gallery li img{
	width: 100%;
	height: auto;
}
.gallery li h3{
	margin-bottom: 6px;
	font-size: 17px;
	font-weight: bold;
	line-height: 100%;
	text-transform: uppercase;
	color: #000;
}
.gallery li time{
	position:absolute;
	bottom:0;
	left:0;
	width: 100%;
	padding: 6px;
	font-weight: 400;
	text-align: center;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gallery li:nth-child(even) .box {
	background: #eee;    /*bloque alternativo en colores*/
}

/* MEDIA QUERIES */

@media screen and (max-width:992px) {

	.gallery {
		width: auto;
	}

}

@media screen and (max-width:768px) {

	.gallery li {
		width: 50%;
	}

}

@media screen and (max-width:468px) {

	.gallery li {
		width: 100%;
	}

}