

.contenedor {
  display: table;
  
}
 
.contenidos {
  display: table-row;
  
}
 
.columna1 {
  display: table-cell;
  /*   margin:  10px; no lo coge */
   width: 33%;
  padding: 2% 15px 2% 15px;     /* alineado en vertical */
	border: 1px solid #999999;
	background-color: #DDDDDD;
}

.columna4 {
  display: table-cell;
  /*   margin:  10px; no lo coge */
  
  padding: 2% 15px 2% 15px;     /* alineado en vertical */
	border: 1px solid #999999;
	background-color: #DDDDDD;
}

