.columna{
  width: 39%;
	padding: 2% 15px 2% 15px;     /* alineado en vertical */
	margin:  2%;
  text-align: left; 
	display: inline-block; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	background-color: #DDDDDD;
}
.fila{
	 margin:  5px;	
   width: 100%;
   text-align: center;
	 background-color: #EEEEEE;
}